main{
    padding-top: 1rem;
}

.signup-title {
    font-size:1.8rem;
    text-align: center;
    color: #ff5454;
}

.signup-form{
    padding:  1rem;
}

.signup-form label{
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select{
    display: block;
    margin: 1rem 0;
    width: 100%;
    /* width: calc(100% - 2rem); */
    vertical-align: bottom;
}



.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label {
    display: inline-block ;
    width: auto;
    color: red;
    vertical-align:  middle;
}

.signup-form input:not([type="checkbox"]),
.signup-form select{
    border:  1px solid #ccc;
    padding: 0.25rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus{
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}

.signup-form input[type="checkbox"]{
    border:1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup-form input[type="checkbox"]:checked{
    background: #2ddf5c;
    border: #0e4f1f;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid{
    border-color: red !important;
    background: #ff9a9a;
    }
    

.signup-form button[type="submit"]{
    display: block;
    margin-top: 1rem;
}

@media (min-width:40rem){
    .signup-form{
        margin: auto;
        width: 35rem;

    }
}